.css-box {
    background-color: green;
}

.scss-box {
    background-color: green;
}

.js-box {
    background-color: green;
}

.vue-box {
    background-color: green;
}

.vue-box-style {
    background-color: green;
}